@import 'BASE/scss/mixins.scss';
@import 'BASE/scss/variables.scss';

$gap: 40px;
$chart_size: 2.15rem;

.list {
  display: grid;
  gap: $gap;
  grid-template: auto / 1fr;
  padding: 0;

  @include respond($LAPTOP) {
    grid-template: auto / 1fr 1fr;
  }
}

.movieItem {
  display: grid;
  gap: 20px;
  grid-template-areas:
    'poster'
    'content'
    'info';

  @include respond($TABLET) {
    grid-template: 1fr 4rem / 40% 1fr;
    grid-template-areas:
      'poster content'
      'poster info';
  }


  .poster {
    grid-area: poster;
  }

  .content {
    grid-area: content;

    h5 { margin-top: 5px; }

    svg {
      float: left;
      margin-right: 10px;
    }
  }

  .info {
    grid-area: info;
  }
}

.chart {
  display: block;
  max-width: $chart_size;
  max-height: $chart_size;
  background: $blue;
  padding: 5px;
  border-radius: 50%;
}

.circle {
  stroke: transparent;
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
  &[class~='red']  {
    stroke: #800020;
  }
  &[class~='yellow']  {
    stroke: #d2d531;
  }
  &[class~='green'] {
    stroke: $green;
  }
}


.percent {
  font-size: 0.85rem;
  color: #FFF;
  font-weight: bold;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}