:global {
  @import '../base/scss/normalize.scss';

  body,
  html { min-height: 100%; }

  * {
    -webkit-font-smoothing: antialiased;
  }

  p {
    color: $gray;

    a { color: $green; }
  }

  img { max-width: 100%; }

  .blue-background {
    background: $blue;
    color: #FFF;
  }

  .green-text {
    color: $green;
  }

  .center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    height: 100vh;
  }

  .page-body { flex-grow: 1; }
}

